<% provide(:title,"Home") %>

<div class="center jumbotron">

	<h2>@ Home :D</h2>
	<p>Home = Heaven</p>
	
	  <%= link_to "Wenn Du unbedingt auf Irgendwas drücken musst...", root_path, class: "btn btn-lg btn-primary" %>

</div>

Buntes Bild darf natürlich nicht fehlen ...<br>
<%= link_to image_tag("http://railstutorial.org/rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
			
<p>	Und noch ein Bild:
	<%= image_tag("Png-logo.png") %>
</p>
